$badge-font-size:                   13px;
$badge-font-weight:                 500;
$badge-color:                       inherit;
$badge-padding-y:                   .35em;
$badge-padding-x:                   .65em;
$badge-border-radius:               4px;