// Card
$spacer: 1.25rem;
$card-bg: #fff !important;
$card-cap-bg: #fff !important;
$card-border-width: 0;
$card-border-radius: 10px;
$card-spacer-y:  1.65rem;
$card-spacer-x:  $spacer;
// $card-title-color: #272934;

.card-title {
    font-size: 20px;
    font-weight: 700;
}