$box-shadow:                  0 .5rem 1rem rgba(#000, .15) !default;

$dropdown-bg: #fff;
$dropdown-border-width: 0;
$dropdown-border-radius: 8px;

.dropdown-menu {
    box-shadow: 0 .5rem 1rem rgba(#2d2e30, .15);
}