#app {
    #content {
        margin-left: 0;
        min-height: 100vh;
        transition: margin 380ms ease-in-out;
    
        .content {
            padding: 1.2rem;
        }
    }
    
    // Sidebar 
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #ffffff;
        margin-left: -280px;
        width: 280px;
        border-right: 1px solid #f1f5f9;
        transition: margin 380ms ease-in-out;
    }
    
    .sidebar-logo {
        padding: 1rem;
        max-height: 70px;
        img {
            width: auto;
            height: 24px;
        }
    }
    
    // Header
    .header {
        height: 70px;
        background-color: #ffffff;
        padding: 10px 1.2rem;
        display: flex;
        width: 100%;
        align-items: center;
    
        .btn-toggle-sidebar {
            outline: none;
            padding: 0;
            margin: 0;
            border: 0;
            background-color: #ffffff;
    
        }
    }
}

// lg
@media (min-width: 992px) {
    #app {
        #content {
            margin-left: 280px;
    
            .content {
                padding: 1.5rem;
            }
        }

        .sidebar-logo {
            padding: 1.2rem;
            img {
                width: auto;
                height: 30px;
            }
        }

        .header {
            padding: 10px 1.5rem;
        }
    
        .sidebar {
            margin-left: 0;
        }

        &.is-toggled {
            #content {
                margin-left: 0;
            }
            .sidebar {
                margin-left: -280px;
            }
        }
    }
}