$modal-sm:                          310px;
$modal-md:                          520px;
$modal-lg:                          840px;
$modal-xl:                          1240px;
$modal-footer-border-width:         0;
$modal-header-border-width:         0;
$modal-content-border-color:        0;
$modal-dialog-margin-y-sm-up:       4.75rem;

$btn-close-width:            14px;
$btn-close-height:           $btn-close-width;
$btn-close-color:            #676b76;
$btn-close-padding-y:        0;