// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Default variable overrides
$body-bg: #f2f5f7;
$body-color: #3a3f46;
$font-size-root:              null !default;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875 !default;
$font-size-lg:                $font-size-base * 1.25 !default;
$font-family-sans-serif:  'Poppins', sans-serif;

// scss-docs-start color-variables
$blue:    #1b91ff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc354e !default;
$orange:  #fda414 !default;
$yellow:  #f5b905 !default;
$green:   #0fb872 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

// scss-docs-start theme-color-variables
$primary:       $blue !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
// scss-docs-end theme-color-variables

$lightPrimary: rgba(27, 145, 255, 0.18);
$lightSuccess: rgba(15, 184, 114, 0.16);
$lightDanger: rgba(220, 53, 78, 0.18);
$lightInfo: rgba(13, 202, 240, 0.18);
$lightWarning: rgba(253, 164, 20, 0.18);

.bg-light-primary {
    background-color: $lightPrimary;
}
.bg-light-success {
    background-color: $lightSuccess;
}
.bg-light-danger {
    background-color: $lightDanger;
}
.bg-light-warning {
    background-color: $lightWarning;
}
.bg-light-info {
    background-color: $lightInfo;
}

.btn-primary, .btn-success, .btn-danger, .btn-warning {
    color: #fff !important; 
}

.text-danger {
    font-size: 15px;
}

$focus-ring-width:      .2rem !default;
$focus-ring-opacity:    .2 !default;
$focus-ring-blur:       0 !default;
$focus-ring-color:      rgba($primary, $focus-ring-opacity) !default;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color !default;

.btn-bars {
    background: transparent;
    outline: none !important;
    border: none !important;
    padding: 0;
    margin: 0;
    display: none;
    margin-right: 0;
}

@media screen and (min-width: 990px) {
    .btn-bars {
        background: transparent;
        outline: none !important;
        border: none !important;
        padding: 0;
        margin: 0;
        margin-right: 13px;
        margin-top: -6px;
        display: block;
        transform: scale(0.82);
    }
    .btn-bars span {
        width: 30px;
        height: 2px;
        display: block;
        margin-top: 8px;
        margin-bottom: 8px;
        background-color: black;
        transition-property: all;
        transition-duration: 380ms;
        transition-timing-function: ease-in-out;
    }
    .btn-bars span:nth-child(1) {
        transform-origin: top left;
    }
    .btn-bars span:nth-child(3) {
        transform-origin: bottom left;
    }

    .btn-bars.active > span:nth-child(1) {
        transform: rotate(45deg);
    }
    .btn-bars.active > span:nth-child(2) {
        transform: scale(0);
    }
    .btn-bars.active > span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .dropdown-header {
        cursor: pointer;
        &.dropdown-toggle::after {
            display: none;
        }
        &~.dropdown-menu {
            li {
                a {
                    padding: 0.8rem 1rem;
                    font-size: 15px;
                }
            }
        }

        .count-notif {
            display: inline-block;
            font-size: 10px;
            position: absolute;
            right: -3px;
            top: -5px;
            width: 17px;
            height: 17px;
            line-height: 17px;
            text-align: center;
            background: $danger;
            color: white;
            font-weight: 500;
            border-radius: 17px;
        }

    }

}